<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body
{
	background-image: url(image/rahul1.jpg);
}

</style>
</head>
<body>


<form>
<table>
<tr><td>Enter the title</td><td><input type="text" ng-model="blogPost.title"></td></tr> <br>

<tr><td>Content</td><td><textarea rows="10"  ng-model="blogPost.body"></textarea></td></tr>
<tr><td><button type="button" ng-click="submit()"class="btn btn-warning">ADD POST</button></td></tr>

</table>

</form>
</body>
</html>