<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
body
{
	background-image: url(image/rahul4.jpg);
}

</style>
</head>
<body>

<div class="container">
	<form class="well span8">
        <div class="row">
            <div class="span3">
                <label>Job Title</label> <input class="span3"ng-model="job.jobTitle"  type="text"> <br>
                <label>location</label>
                <input class="span3"ng-model="job.location" placeholder="Description" type="text"> <br>
                <label>Skills Required</label> <input class="span3" ng-model="job.skillsRequired"  type="text"> <br>
                 <label>Salary</label> <input class="span3" ng-model="job.salary" type="text">
                   
    
            <div class="span5">
                <label>Job Description</label> 
                <textarea class="input-xlarge span5"  ng-model="job.jobDescription"  name="message"
                rows="10">
    </textarea>
            </div><button class="btn btn-primary pull-right" ng-click="saveJob()" type=
            "submit">POST</button>
        </div>
    </form>
</div>
<!-- <form> -->
<!-- <table> -->
<!-- <tr> -->
<!-- <td>Job Title</td> -->
<!-- <td><input type="text" ng-model="job.jobTitle"></td> -->
<!-- </tr> -->


<!-- <tr> -->
<!-- <td>Job Description</td> -->
<!-- <td><textarea ng-model="job.jobDescription"></textarea></td> -->
<!-- </tr> -->

<!-- <tr> -->
<!-- <td>Skills Required</td> -->
<!-- <td><input type="text" ng-model="job.skillsRequired"></td> -->
<!-- </tr> -->

<!-- <tr> -->
<!-- <td>Salary</td> -->
<!-- <td><input type="text" ng-model="job.salary"></td> -->
<!-- </tr> -->

<!-- <tr> -->
<!-- <td>location</td> -->
<!-- <td><input type="text" ng-model="job.location"></td> -->
<!-- </tr> -->

<!-- <tr> -->
<!-- <td> -->

<!-- <button type="button" value="Post Job" ng-click="saveJob()"class="btn btn-warning">ADD JOB</button> -->
<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->

<!-- </form> -->
</body>
</html>